/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

/** Général **/

body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
	;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

/** Header **/

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li a {
	text-decoration: none;
	color: black;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a:hover {
	color: #B1663C;
}

/** Introduction **/

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/** Portfolio **/

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

h2 .modifier-projets {
	color: black;
	margin-left: 20px;
	font-size: 14px;
	vertical-align: middle;
	font-weight: 400;
	font-family: 'Work Sans';
	text-decoration: none;
}

.projets-liste {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.filters {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
	margin-bottom: 30px;
}

.filters .filter,
.filters .tous {
	margin-left: 5px;
	margin-right: 5px;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: #FFFEF8;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 21px;
	padding-left: 21px;
	border: solid 1px #1D6154;
	border-radius: 18px;
	transition: 0.2s;
}

.filters .highlights {
	background-color: #1D6154;
	color: white;
}

.filters input:hover {
	cursor: pointer;
}

/** Contact **/

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** Modale **/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	overflow: auto;
	background-color: #ffffff;
	height: auto;
	max-height: calc(100vh - 20px);
	width: 630px;
	max-width: calc(100vw - 20px);
	box-sizing: border-box;
	text-align: end;
	padding: 24px;
	border-radius: 10px;
}

.js-modal-close {
	height: 24px;
	width: 24px;
	border: none;
	background-color: white;
	margin-bottom: 20px;
}

.modal-wrapper h2 {
	font-family: "Work sans";
	font-size: 26px;
	font-weight: 400;
	color: black;
	margin-bottom: 30px;
	text-align: center;
}

.modal-photos-wrapper {
	width: 430px;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.photo-parent {
	width: 76px;
	position: relative;
	text-align: left;
	margin-top: 14px;
	margin-right: 5px;
	margin-left: 5px;
}

.photo-parent img {
	width: 76px;
	height: 104px;
}

.delete-button {
	height: 17px;
	width: 17px;
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	background-color: black;
	border: none;
}

.fa-trash-can {
	color: white;
}

.edit {
	background-color: white;
	border: none;
	left: 0;
	padding: 0;
	font-family: "Work Sans";
}

hr {
	width: 420px;
	margin-top: 35px;
	margin-bottom: 35px;
	border: 1px solid #B3B3B3;
}

.ajouter-photo {
	border: none;
	display: block;
	background-color: #1D6154;
	color: white;
	height: 36px;
	width: 237px;
	border-radius: 60px;
	font-family: "Syne";
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.supp-galerie {
	border: none;
	display: block;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	color: #D65353;
	font-family: "Syne";
	font-weight: 400;
	margin-bottom: 20px;
}

.not-active {
	display: none;
}

.active {
	display: block;
}

/* Modale 2e page */

.buttons-haut {
	display: flex;
	justify-content: space-between;
}

.js-modal-return {
	height: 24px;
	width: 29px;
	border: none;
	background-color: white;
	margin-bottom: 20px;
}

.form-ajout-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-file-block {
	border-radius: 3px;
	background-color: #E8F1F6;
	height: 169px;
	width: 420px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center
}

.input-file-infos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 22px;
	text-align: center;
}

.picto-img {
	width: 58px;
	margin-bottom: 21px;
}

#file {
	display: none;
}

.button-file-input {
	width: 173px;
	height: 36px;
	background-color: #CBD6DC;
	font-family: "Work Sans";
	font-weight: 500;
	color: #306685;
	border-radius: 50px;
	border: none;
	box-sizing: border-box;
	margin-bottom: 7px;
}

.file-input-caption {
	font-size: 10px;
	font-family: "Work Sans";
	font-weight: 400;
}

.image-preview {
	height: 100%;
}

.modal-label {
	text-align: left;
	display: block;
	box-sizing: border-box;
	margin-top: 30px;
	font-weight: 500;
	font-family: "Work Sans";
	margin-bottom: 10px;
	color: #444444;
}

.modal-form-group {
	text-align: left;
	width: 420px;
	color: #444444;
}


form input,
form select,
form option {
	font-family: "Work Sans";
	font-weight: 400;
	height: 51px;
	padding-left: 15px;
	padding-right: 15px;
}

form hr {
	margin-top: 50px;
}

.modal-form {
	width: 420px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0px 4px 14px 0px rgb(0, 0, 0, 0.09);
}

.modal-valider-button {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background-color: #1D6154;
	font-family: "Syne";
	font-weight: 700;
	color: white;
	margin-bottom: 40px;
	border: none;
	transition: 0.2s
}

.modal-valider-button:hover {
	cursor: pointer;
}

.modal-valider-button:disabled {
	background-color: #A7A7A7;
	cursor: default;
	transition: 0.2s;
}